.overlay {
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.modal {
  background: white;
  width: 80%;
  max-width: 1200px;
  border-radius: 10px;
  height: 80%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: slide-down 0.3s ease-out;
  position: relative;
  display: flex;
  flex-direction: column; /* 세로 배치로 수정 */
}

@keyframes slide-down {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* 작성자와 작성일을 댓글창 상단에 위치 */
.commentHeaderSection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.modalBody {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.modalImageWrapper {
  width: 100%;
  padding: 20px;
}

.modalImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.modalText {
  margin-bottom: 20px;
}

.modalDescription {
  font-size: 1rem;
  color: #666;
  border-bottom: 1px solid #ddd;
}

.footerSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  border-top: 1px solid #ddd;
}

/* 좋아요 버튼을 댓글 섹션 옆에 배치 */
.likeSection {
  display: flex;
  align-items: center;
}

.heart {
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

/* 댓글 섹션을 조정 */
.commentSection {
  flex: 1;
  padding: 20px;
  border-left: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

.commentList {
  flex: 1;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
}

.comment {
  display: flex;
  align-items: flex-start;
  padding: 10px 0;
}

.commentUsername {
  font-weight: bold;
  margin-right: 10px;
}

.commentText {
  flex: 1;
}

.commentForm {
  display: flex;
  padding: 10px 0;
  border-top: 1px solid #ddd;
}

.commentInput {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

.commentButton {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #0056b3;
  }
}

/* 닫기 버튼 */
.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}
