.overlay {
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.modal {
  background: white;
  width: 80%; /* 너비를 넓힘 */
  max-width: 1200px; /* 최대 너비를 넓힘 */
  border-radius: 10px;
  height: 80%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: slide-down 0.3s ease-out;
  position: relative;
  display: flex;
  flex-direction: row;
}

@keyframes slide-down {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modalContent {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.modalBody {
  width: 120%; /* 이미지 부분을 넓힘 */
  padding: 20px;
  overflow-y: auto;
}

.modalImage {
  width: 100%;
  height: 90%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.modalText {
  margin-bottom: 20px;
}

.modalDescription {
  font-size: 1rem;
  color: #666;
  border-bottom: 1px solid #ddd;
}

.commentSection {
  width: 80%; /* 댓글 섹션을 줄임 */
  padding: 20px;
  border-left: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

.commentList {
  flex: 1;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
}

.comment {
  display: flex;
  align-items: flex-start;
  padding: 10px 0;
}

.commentUsername {
  font-weight: bold;
  margin-right: 10px;
}

.commentText {
  flex: 1;
}

.commentForm {
  display: flex;
  padding: 10px 0;
  border-top: 1px solid #ddd;
}

.commentInput {
  flex: 1;
  padding: 1PX 100PX;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

.commentButton {
  padding: 0.5rem 0.5rem;
  border: none;
  background-color: white;
  color: #0056b3;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
   color: #333;
  }
}

.modalFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  position: sticky;
  width: 100%;
}

.username, .date {
  font-size: 0.875rem;
  color: #888;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}
.heart{
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.3s;
  display: flex;
  align-items: center;
  margin-right: 20px;
}