// src/assets/styles/today.module.scss
.today-wrapper {
  padding: 20px;
}



.writeButton{
  padding: 8px 16px; /* 버튼 내부에 8px 상하, 16px 좌우 패딩 추가 */
  border: none; /* 테두리를 제거 */
  cursor: pointer; /* 마우스를 올리면 커서가 손가락 모양으로 변경 */
  font-size: 26px; /* 텍스트 크기를 14px로 설정 */
  display: flex;
  justify-content: center;
  color: darkslategray;
}

.cardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: auto;
    padding: 3rem;
  }
  .addbutton{
  justify-content: center;
  align-items: center;
  }  


