//페이지네이션
.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
/* 테이블의 전체 너비를 설정 */
.communityContainer {
  width: 1300px;
  overflow-x: auto; /* 테이블이 가로로 넘칠 경우 스크롤 추가 */
  margin: auto;
  // height: 260px;
}
.communityContainer th,.communityContainer td{
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
  white-space: nowrap; /* 텍스트가 한 줄로 유지되도록 설정 */
  overflow: hidden !important; /* 넘치는 텍스트를 숨김 */
  text-overflow: ellipsis !important; /* 넘치는 텍스트를 ...으로 표시 */
  max-width: 200px;
}
h2 {
  text-align: center;
  margin-top: 30px;
}


.overflowEllipsis {
  white-space: nowrap; 
  overflow: hidden;    
  text-overflow: ellipsis;
}

