//페이지네이션
.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.writeButtonContainer {
  display: flex;
  justify-content: flex-end;
}

h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}


