.overlay {
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.modal {
  background: white;
  width: 100%; /* 화면의 80% 너비 */
  max-width: 800px; /* 최대 너비 */
  border-radius: 10px;
  height: 80%; /* 화면의 80% 높이 */
  max-height: 80vh; /* 최대 높이: 80% 뷰포트 높이 */
  overflow: hidden; /* 내부 콘텐츠 넘칠 경우 숨기기 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: slide-down 0.3s ease-out;
  position: relative;
}

@keyframes slide-down {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modalContent {
  display: flex;
  flex-direction: column;
  height: 100%; /* 전체 높이 사용 */
}

.modalBody {
  padding: 20px;
  flex: 1; /* 남은 공간을 다 차지하도록 설정 */
  overflow-y: auto; /* 수직 스크롤 가능 */
}

.modalImage {
  width: 100%; /* 모달 너비에 맞게 */
  height: 250px;
  max-height: 300px; /* 최대 높이 설정 */
  object-fit: initial; /* 비율 유지하며 채우기 */
  border-radius: 10px 10px 0 0; /* 모서리 둥글게 */
  margin-bottom: 20px; /* 이미지와 내용 사이의 간격 */
}

.modalText {
  padding: 0 20px;
}

.modalTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.modalDescription {
  font-size: 1rem;
  color: #666;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}

.modalFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  padding: 0.5rem 1rem;
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
  height: 60px; /* 고정된 높이 */
}

.username, .date {
  font-size: 0.875rem;
  color: #888;
}
